
/* --------------------------------

xcarbonads

-------------------------------- */
#carbonads-container,
#ui8ads-container {
  position: fixed;
  top: 140px;
  left: 2%;
  width: 180px;
  display: none;
  z-index: 100;
  background-color: blueviolet;
}
#ui8ads-container:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#carbonads-container .close-carbon-adv,
#carbonads-container .close-ui8-adv,
#ui8ads-container .close-carbon-adv,
#ui8ads-container .close-ui8-adv {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 100%;
  background: rgba(19, 11, 20, 1);
  text-indent: 100%;
  overflow: hidden;
  width: 32px;
  height: 32px;

}
#carbonads-container .close-carbon-adv:hover,
#carbonads-container .close-ui8-adv:hover,
#ui8ads-container .close-carbon-adv:hover,
#ui8ads-container .close-ui8-adv:hover {
  background: blueviolet;
  /*background: #130b14;*/

}
#carbonads-container .close-carbon-adv::after, #carbonads-container .close-carbon-adv::before,
#carbonads-container .close-ui8-adv::after,
#carbonads-container .close-ui8-adv::before,
#ui8ads-container .close-carbon-adv::after,
#ui8ads-container .close-carbon-adv::before,
#ui8ads-container .close-ui8-adv::after,
#ui8ads-container .close-ui8-adv::before {
  content: '';
  background-color: #fff;
  height: 2px;
  width: 14px;
  position: absolute;
  top: 14px;
  left: 9px;
}
#carbonads-container .close-carbon-adv::after,
#carbonads-container .close-ui8-adv::after,
#ui8ads-container .close-carbon-adv::after,
#ui8ads-container .close-ui8-adv::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#carbonads-container .close-carbon-adv::before,
#carbonads-container .close-ui8-adv::before,
#ui8ads-container .close-carbon-adv::before,
#ui8ads-container .close-ui8-adv::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#carbonads-container .carbonad,
#carbonads-container .ui8ad,
#ui8ads-container .carbonad,
#ui8ads-container .ui8ad {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  width: 100%;
  height: auto;
  padding: 14px;
  text-align: center;
  border-radius: 0 3px 3px 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
#carbonads-container .carbonad .carbonad-image img,
#carbonads-container .carbonad .ui8ad-image img,
#carbonads-container .ui8ad .carbonad-image img,
#carbonads-container .ui8ad .ui8ad-image img,
#ui8ads-container .carbonad .carbonad-image img,
#ui8ads-container .carbonad .ui8ad-image img,
#ui8ads-container .ui8ad .carbonad-image img,
#ui8ads-container .ui8ad .ui8ad-image img {
  width: 130px;
}
#carbonads-container .carbonad .carbonad-image img,
#carbonads-container .ui8ad .carbonad-image img,
#ui8ads-container .carbonad .carbonad-image img,
#ui8ads-container .ui8ad .carbonad-image img {
  margin: 0 0 10px 10px;
}
#carbonads-container .carbonad .ui8ad-image img,
#carbonads-container .ui8ad .ui8ad-image img,
#ui8ads-container .carbonad .ui8ad-image img,
#ui8ads-container .ui8ad .ui8ad-image img {
  margin: 0 10px 10px;
  width: 130px;
}
#carbonads-container .carbonad .carbonad-text, #carbonads-container .carbonad .carbonad-tag,
#carbonads-container .carbonad .ui8ad-text, #carbonads-container .carbonad .ui8ad-tag,
#carbonads-container .ui8ad .carbonad-text,
#carbonads-container .ui8ad .carbonad-tag,
#carbonads-container .ui8ad .ui8ad-text,
#carbonads-container .ui8ad .ui8ad-tag,
#ui8ads-container .carbonad .carbonad-text,
#ui8ads-container .carbonad .carbonad-tag,
#ui8ads-container .carbonad .ui8ad-text,
#ui8ads-container .carbonad .ui8ad-tag,
#ui8ads-container .ui8ad .carbonad-text,
#ui8ads-container .ui8ad .carbonad-tag,
#ui8ads-container .ui8ad .ui8ad-text,
#ui8ads-container .ui8ad .ui8ad-tag {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
#carbonads-container .carbonad .carbonad-text,
#carbonads-container .carbonad .ui8ad-text,
#carbonads-container .ui8ad .carbonad-text,
#carbonads-container .ui8ad .ui8ad-text,
#ui8ads-container .carbonad .carbonad-text,
#ui8ads-container .carbonad .ui8ad-text,
#ui8ads-container .ui8ad .carbonad-text,
#ui8ads-container .ui8ad .ui8ad-text {
  display: block;
  width: 100%;
  padding: 0;
}
#carbonads-container .carbonad .carbonad-text a,
#carbonads-container .carbonad .ui8ad-text a,
#carbonads-container .ui8ad .carbonad-text a,
#carbonads-container .ui8ad .ui8ad-text a,
#ui8ads-container .carbonad .carbonad-text a,
#ui8ads-container .carbonad .ui8ad-text a,
#ui8ads-container .ui8ad .carbonad-text a,
#ui8ads-container .ui8ad .ui8ad-text a {
  color: #41307c;
  font-size: 13px;
  font-weight: bold;
}
.no-touch #carbonads-container .carbonad .carbonad-text a:hover, .no-touch
#carbonads-container .carbonad .ui8ad-text a:hover, .no-touch
#carbonads-container .ui8ad .carbonad-text a:hover, .no-touch
#carbonads-container .ui8ad .ui8ad-text a:hover, .no-touch
#ui8ads-container .carbonad .carbonad-text a:hover, .no-touch
#ui8ads-container .carbonad .ui8ad-text a:hover, .no-touch
#ui8ads-container .ui8ad .carbonad-text a:hover, .no-touch
#ui8ads-container .ui8ad .ui8ad-text a:hover {
  text-decoration: underline;
}
#carbonads-container .carbonad .carbonad-tag,
#carbonads-container .carbonad .ui8ad-tag,
#carbonads-container .ui8ad .carbonad-tag,
#carbonads-container .ui8ad .ui8ad-tag,
#ui8ads-container .carbonad .carbonad-tag,
#ui8ads-container .carbonad .ui8ad-tag,
#ui8ads-container .ui8ad .carbonad-tag,
#ui8ads-container .ui8ad .ui8ad-tag {
  margin-top: 5px;
  color: #331d35;
}
#carbonads-container .carbonad .carbonad-tag a,
#carbonads-container .carbonad .ui8ad-tag a,
#carbonads-container .ui8ad .carbonad-tag a,
#carbonads-container .ui8ad .ui8ad-tag a,
#ui8ads-container .carbonad .carbonad-tag a,
#ui8ads-container .carbonad .ui8ad-tag a,
#ui8ads-container .ui8ad .carbonad-tag a,
#ui8ads-container .ui8ad .ui8ad-tag a {
  color: #331d35;
}
#carbonads-container .carbonad .carbonad-tag a:hover,
#carbonads-container .carbonad .ui8ad-tag a:hover,
#carbonads-container .ui8ad .carbonad-tag a:hover,
#carbonads-container .ui8ad .ui8ad-tag a:hover,
#ui8ads-container .carbonad .carbonad-tag a:hover,
#ui8ads-container .carbonad .ui8ad-tag a:hover,
#ui8ads-container .ui8ad .carbonad-tag a:hover,
#ui8ads-container .ui8ad .ui8ad-tag a:hover {
  color: #41307c;
}
#carbonads-container .carbonad .ui8ad-tag,
#carbonads-container .ui8ad .ui8ad-tag,
#ui8ads-container .carbonad .ui8ad-tag,
#ui8ads-container .ui8ad .ui8ad-tag {
  display: inline-block;
  font-size: 11px;
  line-height: 15px;
}
@media only screen and (min-width: 1170px) {
  #carbonads-container,
  #ui8ads-container {
    display: block;
  }
}